! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.secondaryWheel: 1

URxvt.font: xft:JetBrains Mono:size=13
URxvt.letterSpace: -1
URxvt.scrollBar: false
! URxvt.transparent:   true
! URxvt.tintColor:     grey
! URxvt.shading:       30
URxvt.foreground: grey
URxvt.background: white
URxvt.color2: LightCyan1
URxvt.color4: DeepPink1
URXvt.color10: LightCyan1
URxvt.color12: Orange
URxvt*inheritPixmap: true
URxvt*transparent: true
URxvt*shading: 90

rofi.color-window: #4A616D, #4A616D, #FFFFFF
rofi.color-normal: #4A616D, #FFFFFF, #4A616D, #FFFFFF, #4A616D
rofi.color-active: #4A616D, #FFFFFF, #4A616D, #FFFFFF, #FFFFFF
rofi.color-urgent: #4A616D, #FFFFFF, #4A616D, #FFFFFF, #FFFFFF
